body{
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 65px;
}
h1{
  margin: 0 0 50px 0;
  text-align: center;
  color: #e3f6fd;
  text-shadow: -1px 2px #333;
}
.form-inline{
  width: 270px;
  margin: 15px auto;
  .form-group{
    width: 100%;
    margin-bottom: 10px;
    .btn{
      margin: 0 2px;
    }
    .error{
      color: red;
      font-size: 11px;
    }
  }
}
.btn-group{
  width: 200px;
  margin: 15px auto;
  display: block;
}
.map{
  width: 600px;
  height: 400px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: -2px 2px 4px 2px #CCC;
}
.modal-error{
  z-index: 1052;
}
