.loading-container {
  top:0;
  left: 0;
  overflow: 0;
  width: 100%;
  height: 100%;
  z-index: 1051;
  position: fixed;
  background-color: rgba(89, 131, 156, 0.93);
  transition: all ease-in-out 200ms;
  &.loader-hidden{
    opacity: 0;
    z-index: -1;
  }
  .spinner {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: ~"calc(50% - 42px)";
    left: ~"calc(50% - 42px)";
  }

  .spinner > div {
    background-color: #FFF;
    height: 100%;
    width: 10px;
    margin-right: 2px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
